<div class="faq-wrapper">
    <div class="page-banners">
        <div class="page-title-container">
            <h1 class="page-title">FAQ</h1>
        </div>
        
    </div>
    <div class="sitemap-placeholder">
        <a href="/" class="me-2">Home</a><i class="fa-solid fa-chevron-right me-2"></i><a href="/rims/admissions">Admissions</a>
    </div>

    <div class="page-content-container">
        <div class="full-width-container">
            <span class="form-title">Frequently Asked Questions</span>
            <hr>
            <div class="accordion" id="faq-accordion">
                <div class="accordion-item">
                    <span class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                         data-bs-target="#item-001" aria-expanded="false" aria-controls="item-001">
                            Can you tell me more about Richmindale College?
                        </button>
                    </span>
                    <div id="item-001" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                        <div class="accordion-body">
                            <p>
                                Richmindale College is a postsecondary education institution duly registered in the State of Arizona, United States. The school offers Bachelor's and Master's Degree Programs.<br/><br/>
                                Click here to learn more about Richmindale College.<br/><br/>
                                Click here to learn more about the Degree Programs offered by Richmindale College.<br/><br/>
                                Click here to view Richmindale's Catalog.<br/><br/>
                                Click here to view Richmindale's Enrollment Agreement.
                            </p>
                        </div>
                        
                    </div>
                </div>
                <div class="accordion-item">
                    <span class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                         data-bs-target="#item-002" aria-expanded="false" aria-controls="item-002">
                         How can I verify and confirm that Richmindale College is approved or licensed by the State's Department of Education?
                        </button>
                    </span>
                    <div id="item-002" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                        <div class="accordion-body">
                            <p>
                                Richmindale College is a postsecondary education institution duly registered in the State of Arizona, United States.

The Arizona State Board for Private Postsecondary Education (AZ State Board of Education) is the regulating authority for private education institutions that offer degree programs in the State of Arizona.

Richmindale College is listed as one of the Licensed Schools published on the AZ State Board of Education website.

To find the list of Licensed Schools in Arizona, click this link to show the instruction page, and follow the procedure on the page.
                            </p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
