<div class="page-title">
    <div class="title-icon me-4">
        <i class="fa-solid fa-clone me-2"></i>
    </div>
    <div class="title">
        <h1>Report Cards</h1>
        <span>Unofficial Copy of Report Cards</span>
    </div>

</div>
<div class="content-section">
    <!-- <div class="card">
        <div class="card-header">
            <div class="left-header">
                <span class="class-card-title">PROGRESS REPORT CARD (UNOFFICIAL)</span>
                <span class="class-card-subtitle">Document No. ACA-5100-A | Revision 1 on 18-Dec-2019</span>
                <div class="academic-year mt-5">
                    <span class="academic-label">Academic Year : </span>
                    <span class="academic-value">2024 - 2025</span>
                </div>
            </div>
            <div class="right-header">
                <div class="card-logo me-3">
                    <img src="img/richmindale100px.webp" alt="Richmindale - Unofficial Report Card">
                </div>
                <div class="card-address">
                    <span class="org-name">Richmindale College</span>
                    <span class="address">2222 S. Dobson Road, Mesa, Arizona 85202, USA</span>
                    <span class="address">Phone: +1 928 499-3936 | Email: info&#64;richmindale.com</span>
                    <div class="reg-details mt-4">
                        <span class="reg-label">AZ State Reg. ID :</span>
                        <span class="reg-value">23010720</span>
                    </div>
                </div>

            </div>

        </div>
        <div class="card-body">
            <div class="class-card-container">
                <div class="container-fluid">
                    <div class="row mt-2">
                        <div class="col-2 form-group">Student Name :</div>
                        <div class="col-4 form-group"></div>
                        <div class="col-2 form-group">Date of Birth :</div>
                        <div class="col-4 form-group"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-2 form-group">Student ID:</div>
                        <div class="col-4 form-group"></div>
                        <div class="col-2 form-group">Age in Aug. 2024 :</div>
                        <div class="col-4 form-group"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-2 form-group">Grade Level :</div>
                        <div class="col-4 form-group"></div>
                        <div class="col-2 form-group">Gender :</div>
                        <div class="col-4 form-group"></div>
                    </div>
                </div>
                <div class="transfer-performance mt-3">
                    <div class="bordered-box">
                        <span class="box-title">CERTIFICATE OF TRANSFER</span>
                        <div class="container-fluid mt-1">
                            <div class="row">
                                <div class="col-5 form-group">
                                    <label class="form-label mt-3">Admitted to Grade :</label>
                                </div>
                                <div class="col-2 form-group">
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-2 form-group">
                                    <label class="form-label mt-3">Date :</label>
                                </div>
                                <div class="col-3 form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 form-group">
                                    <label class="form-label mt-3">Eligible for Admission to Grade :</label>
                                </div>
                                <div class="col-2 form-group">
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-2 form-group">

                                </div>
                                <div class="col-3 form-group">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bordered-box">
                        <span class="box-title">PERFORMANCE</span>
                        <div class="container-fluid mt-1">
                            <div class="row">
                                <div class="col-3 form-group">
                                    <label class="form-label mt-3">Total Credits :</label>
                                </div>
                                <div class="col-2 form-group">
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-5 form-group">
                                    <label class="form-label mt-3">Grade Point Average (GPA) :</label>
                                </div>
                                <div class="col-2 form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 form-group">
                                    <label class="form-label mt-3">Final Rating :</label>
                                </div>
                                <div class="col-2 form-group">
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-3 form-group">
                                    <label class="form-label mt-3">Final Grade :</label>
                                </div>
                                <div class="col-2 form-group">
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-2 form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="titles mt-3">REPORT ON LEARNING PROGRESS AND ACHIEVEMENT</span>
                    <div class="tables">
                        <div class="table-grades">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="tbl-header">
                                            <span class="tbl-title">FIRST SEMESTER</span>
                                            <span class="tbl-subtitle mt-1">Learning Areas</span>
                                        </th>
                                        <th class="tbl-header">
                                            <span class="tbl-subtitle mb-3">Credits</span>
                                        </th>
                                        <th class="tbl-header">
                                            <span class="tbl-subtitle">Semester</span>
                                            <span class="tbl-subtitle">Final Rating</span>
                                        </th>
                                        <th class="tbl-header">
                                            <span class="tbl-subtitle">Semester</span>
                                            <span class="tbl-subtitle">Final Grade</span>
                                        </th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="tbl-subheader" colspan="4">
                                            <span class="subtitle">Core Subjects</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="text-row-desc ms-2">asdasdasdsd</span></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="tbl-subheader" colspan="4">
                                            <span class="subtitle">Applied and Specialized Subjects</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td><span class="tbl-title">TOTALS &amp; AVERAGES</span></td>
                                        <td>10</td>
                                        <td>92</td>
                                        <td>A</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="table-grades">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="tbl-header">
                                            <span class="tbl-title">SECOND SEMESTER</span>
                                            <span class="tbl-subtitle mt-1">Learning Areas</span>
                                        </th>
                                        <th class="tbl-header">
                                            <span class="tbl-subtitle mb-3">Credits</span>
                                        </th>
                                        <th class="tbl-header">
                                            <span class="tbl-subtitle">Semester</span>
                                            <span class="tbl-subtitle">Final Rating</span>
                                        </th>
                                        <th class="tbl-header">
                                            <span class="tbl-subtitle">Semester</span>
                                            <span class="tbl-subtitle">Final Grade</span>
                                        </th>
                                    </tr>
    
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="tbl-subheader" colspan="4">
                                            <span class="subtitle">Core Subjects</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="text-row-desc ms-2">asdasdasdsd</span></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="tbl-subheader" colspan="4">
                                            <span class="subtitle">Applied and Specialized Subjects</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td><span class="tbl-title">TOTALS &amp; AVERAGES</span></td>
                                        <td>10</td>
                                        <td>92</td>
                                        <td>A</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        
                    </div>
                    <span class="titles mt-0">ATTENDANCE</span>
                    <div class="tables">
                        <div class="table-attendance">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="tbl-header">
                                            <span class="tbl-title">Description</span>
                                        </th>
                                        <th class="tbl-header">
                                            <span class="tbl-title">Aug</span>
                                        </th>
                                        <th class="tbl-header">
                                            <span class="tbl-title">Sep</span>
                                        </th>
                                        <th class="tbl-header">
                                            <span class="tbl-title">Oct</span>
                                        </th>
                                        <th class="tbl-header">
                                            <span class="tbl-title">Nov</span>
                                        </th>
                                        <th class="tbl-header">
                                            <span class="tbl-title">Dec</span>
                                        </th>
                                        <th class="tbl-header">
                                            <span class="tbl-title">Jan</span>
                                        </th>
                                        <th class="tbl-header">
                                            <span class="tbl-title">Feb</span>
                                        </th>
                                        <th class="tbl-header">
                                            <span class="tbl-title">Mar</span>
                                        </th>
                                        <th class="tbl-header">
                                            <span class="tbl-title">Apr</span>
                                        </th>
                                        <th class="tbl-header">
                                            <span class="tbl-title">May</span>
                                        </th>
                                        <th class="tbl-header">
                                            <span class="tbl-title">Jun</span>
                                        </th>
                                        <th class="tbl-header">
                                            <span class="tbl-title">Total</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span class="text-row-desc ms-2">School Days</span></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><span class="text-row-desc ms-2">Days Present</span></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><span class="text-row-desc ms-2">Days Absent</span></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="desc-box mt-3">
                        <div class="disclaimer">
                            <p>
                                Dear Parents/Guardians,<br/><br/>

                                This report card shows the ability and the progress that your child has made in the different learning areas.<br/><br/>
                                <b>Richmindale</b> welcomes you if you desire to know more about the progress of your child.
                            </p>

                            <div class="signatories mt-5">
                                <div class="signatory">
                                    <div class="registrar">
                                        <span>ANNA LIZA SUYKO</span>
                                    </div>
                                    <span>Registrar</span>
                                </div>
                                <div class="signatory">
                                    <div class="registrar">
                                        <span>ELNORA ROSE C. PEPITO</span>
                                    </div>
                                    <span>Principal</span>
                                </div>
                            </div>
                        </div>
                        <div class="grading-system">
                            <span class="titles mt-0">GRADING SYSTEM</span>
                            <table class="table table-borderless mt-2">
                                <thead>
                                    <tr>
                                        <th>Grade</th>
                                        <th>Rating</th>
                                        <th>GPA</th>
                                        <th>Remarks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>A</td>
                                        <td>90 - 100</td>
                                        <td>4.00</td>
                                        <td>Pass</td>
                                    </tr>
                                    <tr>
                                        <td>B</td>
                                        <td>85 - 89</td>
                                        <td>3.00</td>
                                        <td>Pass</td>
                                    </tr>
                                    <tr>
                                        <td>C</td>
                                        <td>80 - 84</td>
                                        <td>2.00</td>
                                        <td>Pass</td>
                                    </tr>
                                    <tr>
                                        <td>D</td>
                                        <td>75 - 79</td>
                                        <td>1.00</td>
                                        <td>Pass</td>
                                    </tr>
                                    <tr>
                                        <td>F</td>
                                        <td>Below 74</td>
                                        <td>0.00</td>
                                        <td>Fail</td>
                                    </tr>
                                </tbody>
                            </table>
                            <span class="titles mt-0">COURSE NOTATIONS</span>
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td>AP</td>
                                        <td>Advanced Replacement</td>
                                    </tr>
                                    <tr>
                                        <td>H</td>
                                        <td>Honors</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <ng-container #reportCardsContainer>
        
    </ng-container>
    
</div>


