<div class="page-title">
    <div class="title-icon me-4">
        <i class="fa-solid fa-stamp me-2"></i>
    </div>
    <div class="title">
        <h1>Examindation Permits</h1>
        <span>Request for Examination Permit</span>
    </div>
    
</div>
<div class="content-section">
    <div class="card">
        <div class="card-header">
            <span class="card-title">Examination Permit Requests</span>
            <div class="card-action">
                <button class="btn btn-primary">Request Permit</button>
            </div>
        </div>
        <div class="card-body">
            <div class="table-placeholder">
                <table class="table table-hover table-stripe table-borderless">
                    <thead>
                        <tr>
                            <th>Reference No.</th>
                            <th>Exam Type</th>
                            <th>Exam Date</th>
                            <th>Permit Ref. No.</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

