<div class="page-title">
    <div class="title-icon me-4">
        <i class="fa fa-chalkboard me-2"></i>
    </div>
    <div class="title">
        <h1>Performance</h1>
        <span>Student Grading</span>
    </div>
    
</div>
<div class="content-section">
    <div class="card">
        <div class="card-header">
            <span class="card-title">Performance List</span>
        </div>
        <div class="card-body">
            <div class="table-placeholder"></div>
        </div>
    </div>
</div>
