<div class="jobs-wrapper">
    <div class="page-banners">
        <div class="page-title-container">
            <h1 class="page-title">Job Search</h1>
        </div>
        
    </div>
    <div class="sitemap-placeholder">
        <a href="/" class="me-2">Home</a><i class="fa-solid fa-chevron-right me-2"></i><a href="/jobsearch">Job Search</a>
    </div>

    <div class="page-content-container">
        <div class="full-width-container">
            <span class="form-title">Job Search Assistance</span>
            <hr>
            <p>
                At Richmindale, we are committed to supporting our students as they navigate their career paths. As part of this effort, we are developing a dedicated job posting platform to connect our learners with potential employment opportunities.<br/><br/>
                Stay tuned for the launch of our job posting website.
            </p>
        </div>
    </div>
</div>
