<div class="page-title">
    <div class="title-icon me-4">
        <i class="fa-solid fa-medal me-2"></i>
    </div>
    <div class="title">
        <h1>Satisfactory Academic Progress</h1>
        <span>Appeal for Satisfactory Academic Progress</span>
    </div>
    
</div>
<div class="content-section">
    <div class="card">
        <div class="card-header">
            <span class="card-title"></span>
            <div class="card-action">
               
            </div>
        </div>
        <div class="card-body">
            <div class="table-placeholder">
                <table datatable class="table table-hover table-stripe table-borderless table-responsive">
                    <thead>
                        <tr>
                            <th>Reference No.</th>
                            <th>Date</th>
                            <th>School Year</th>
                            <th>Terms</th>
                            <th>Reason</th>
                            <th>Resolution</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>