<div class="page-title">
    <div class="title-icon me-4">
        <i class="fa-solid fa-person-harassing me-2"></i>
    </div>
    <div class="title">
        <h1>Grievances</h1>
        <span>Customer Complaints</span>
    </div>
    
</div>
<div class="content-section">
    <div class="card">
        <div class="card-body">
            <div class="table-placeholder">
                <table class="table table-hover table-borderless table-stripe table-responsive">
                    <thead>
                        <tr>
                            <th>Grievance Number</th>
                            <th>Category</th>
                            <th>Date</th>
                            <th>Complainant</th>
                            <th>Respondent</th>
                            <th>Resolution No.</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

