<div class="print-container">
    <button class="btn btn-primary" (click)="Print()"><i class="fa fa-print me-2"></i>PRINT</button>
</div>
<div id="agreement" class="printable-agreement" ngxPrintItemMarker directPrint=”true”>

    <!-- Page 01 -->
    <div class="card">
        <div class="card-header">
            <div class="agreement-header">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td rowspan="4" width="70%">
                                <div class="org-container">
                                    <div class="logo-container">
                                        <img src="img/richmindale100px.webp" alt="Richmindale Official Logo">
                                    </div>
                                    <div class="org-details">
                                        <span class="org-name">Richmindale College</span>
                                        <span class="address mt-2">185 N. Apache Trail, Suite 1, Apache Junction,
                                            Arizona
                                            85120, USA</span>
                                        <span class="address mt-2">www.richmindale.com | info&#64;richmindale.com</span>
                                    </div>
                                </div>
                            </td>
                            <td width="15%">Document Number</td>
                            <td width="15%" class="tbl-value">ADM-5020-{{dtl.ProgramCode}}</td>
                        </tr>
                        <tr>
                            <td>Revision Number</td>
                            <td class="tbl-value">1024</td>
                        </tr>
                        <tr>
                            <td>Revision Date</td>
                            <td class="tbl-value">01-Oct-2024</td>
                        </tr>
                        <tr>
                            <td>Next Review Date</td>
                            <td class="tbl-value">01-Aug-2025</td>
                        </tr>
                        <tr>
                            <td colspan="3" class="document-title">
                                {{ dtl.ProgramCode }} Student Enrollment Agreement
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-body">
            <div class="agreement-container">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th colspan="4" class="text-left">For official use only</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="td-field">Admission Reference ID</td>
                            <td><strong>{{dtl.ApplicationRefNo}}</strong></td>
                            <td class="td-field" rowspan="2">Student Id</td>
                            <td rowspan="2">{{dtl.StudentCode}}</td>
                        </tr>
                        <tr>
                            <td class="td-field">Admission Date</td>
                            <td></td>

                        </tr>
                        <tr>
                            <td class="td-field">Admission Representative</td>
                            <td></td>
                            <td class="td-field">Academic Adviser</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="4" class="td-field">General Notes</td>
                        </tr>
                        <tr>
                            <td colspan="4" rowspan="4">

                            </td>
                        </tr>
                    </tbody>
                </table>

                <span class="subtitles mt-3">IMPORTANT NOTICE!</span>
                <p class="mt-2">
                    Before signing this enrollment agreement, review our catalog and make sure that you agree to the
                    policies, terms, and conditions in the catalog. If you have questions, do not hesitate to contact us
                    on
                    the following:
                </p>
                <p class="mt-2 text-center indented">
                    Website: <a href="www.richmindale.com/contact">www.richmindale.com/contact</a> ; Email:
                    info&#64;richmindale.com ; Phone: +1 (928) 499-3936; +1 (602) 881-4176
                </p>
                <p class="mt-2">
                    Ensure that all pages of this agreement are signed. The student and/or student parent or guardian
                    can
                    use ink or digital signature to sign all pages of this document. Once signed, submit this agreement
                    to
                    Richmindale College through email at <a
                        href="mailto:admissions@richmindale.com">admissions&#64;richmindale.com</a> using the student’s
                    email address that is registered in this agreement.
                </p>

                <span class="titles mt-3">TABLE OF CONTENTS</span>
                <div class="table-contents">
                    <div class="page-contents mt-2">
                        <span class="page-name">I. STUDENT INFORMATION</span>
                        <div class="spacer"></div>
                        <span class="page-no">2</span>
                    </div>
                    <div class="page-contents">
                        <span class="page-name">II. PROGRAM INFORMATION</span>
                        <div class="spacer"></div>
                        <span class="page-no">2</span>
                    </div>
                    <div class="page-contents">
                        <span class="page-name">III. COURSES</span>
                        <div class="spacer"></div>
                        <span class="page-no">2</span>
                    </div>
                    <div class="page-contents">
                        <span class="page-name">IV. TUITION AND FEES</span>
                        <div class="spacer"></div>
                        <span class="page-no">4</span>
                    </div>
                    <div class="page-contents">
                        <span class="page-name">V. PAYMENT AND FINANCING OPTIONS</span>
                        <div class="spacer"></div>
                        <span class="page-no">5</span>
                    </div>
                    <div class="page-contents">
                        <span class="page-name">VI. NOTICE: HOLDER IN DUE COURSE</span>
                        <div class="spacer"></div>
                        <span class="page-no">7</span>
                    </div>
                    <div class="page-contents">
                        <span class="page-name">VII. CANCELLATION, WITHDRAWALS AND REFUND POLICY</span>
                        <div class="spacer"></div>
                        <span class="page-no">7</span>
                    </div>
                    <div class="page-contents">
                        <span class="page-name">VIII. GOVERNING LAW; FORUM</span>
                        <div class="spacer"></div>
                        <span class="page-no">13</span>
                    </div>
                    <div class="page-contents">
                        <span class="page-name">IX. DISCLAIMER</span>
                        <div class="spacer"></div>
                        <span class="page-no">13</span>
                    </div>
                    <div class="page-contents">
                        <span class="page-name">X. STUDENT ACKNOWLEDGEMENT</span>
                        <div class="spacer"></div>
                        <span class="page-no">14</span>
                    </div>
                    <div class="page-contents">
                        <span class="page-name">XI. ACCEPTANCE</span>
                        <div class="spacer"></div>
                        <span class="page-no">15</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer">
            <div class="agreement-footer"></div>
        </div>
    </div>

    <!-- Page 02 -->
    <div class="card">
        <div class="card-header">
            <div class="agreement-header">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td rowspan="4" width="70%">
                                <div class="org-container">
                                    <div class="logo-container">
                                        <img src="img/richmindale100px.webp" alt="Richmindale Official Logo">
                                    </div>
                                    <div class="org-details">
                                        <span class="org-name">Richmindale College</span>
                                        <span class="address mt-2">185 N. Apache Trail, Suite 1, Apache Junction,
                                            Arizona
                                            85120, USA</span>
                                        <span class="address mt-2">www.richmindale.com | info&#64;richmindale.com</span>
                                    </div>
                                </div>
                            </td>
                            <td width="15%">Document Number</td>
                            <td width="15%" class="tbl-value">ADM-5020-{{dtl.ProgramCode}}</td>
                        </tr>
                        <tr>
                            <td>Revision Number</td>
                            <td class="tbl-value">1024</td>
                        </tr>
                        <tr>
                            <td>Revision Date</td>
                            <td class="tbl-value">01-Oct-2024</td>
                        </tr>
                        <tr>
                            <td>Next Review Date</td>
                            <td class="tbl-value">01-Aug-2025</td>
                        </tr>
                        <tr>
                            <td colspan="3" class="document-title">
                                {{ dtl.ProgramCode }} Student Enrollment Agreement
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-body">
            <div class="agreement-container">
                <span class="titles mt-3">I. STUDENT INFORMATION</span>
                <table class="table table-bordered mt-2">
                    <tbody>
                        <tr>
                            <td>
                                <div class="infos">
                                    <span class="info-fld">1. Student Last Name</span>
                                    <span class="info-value mt-2">{{dtl.StudentLastname}}</span>
                                </div>
                            </td>
                            <td>
                                <div class="infos">
                                    <span class="info-fld">2. Student Given Name</span>
                                    <span class="info-value mt-2">{{dtl.StudentGivenName}}</span>
                                </div>
                            </td>
                            <td>
                                <div class="infos">
                                    <span class="info-fld">3. Student Middle Name</span>
                                    <span class="info-value mt-2">{{dtl.StudentMiddleName}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="2">
                                <div class="infos">
                                    <span class="info-fld">4. Address Details</span>
                                    <span class="info-value mt-2">{{dtl.StudentAddress}}</span>
                                </div>
                            </td>
                            <td>
                                <div class="infos">
                                    <span class="info-fld">5. Address City</span>
                                    <span class="info-value mt-2">{{dtl.StudentCityName}}</span>
                                </div>
                            </td>
                            <td>
                                <div class="infos">
                                    <span class="info-fld">6. Address State, ZIP Code</span>
                                    <span class="info-value mt-2">{{dtl.StudentStateName}},
                                        {{dtl.StudentZipCode}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="infos">
                                    <span class="info-fld">7. Address Country</span>
                                    <span class="info-value mt-2">{{dtl.StudentCountryName}}</span>
                                </div>
                            </td>
                            <td>
                                <div class="infos">
                                    <span class="info-fld">8. Country of Nationality</span>
                                    <span class="info-value mt-2">{{dtl.StudentNationalityName}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="infos">
                                    <span class="info-fld">9.Email Address</span>
                                    <span class="info-value mt-2">{{dtl.StudentEmail1}}</span>
                                </div>
                            </td>
                            <td>
                                <div class="infos">
                                    <span class="info-fld">10. Phone Number (Primary)</span>
                                    <span class="info-value mt-2">0{{dtl.StudentPhone1}}</span>
                                </div>
                            </td>
                            <td>
                                <div class="infos">
                                    <span class="info-fld">11. Phone Number (Secondary)</span>
                                    <span class="info-value mt-2">{{dtl.StudentPhone2}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="infos">
                                    <span class="info-fld">12. Birth Date (Month dd, yyyy)</span>
                                    <span class="info-value mt-2">{{dtl.StudentBirthDateLong}}</span>
                                </div>
                            </td>
                            <td>
                                <div class="infos">
                                    <span class="info-fld">13. Gender</span>
                                    <span class="info-value mt-2">{{dtl.StudentGenderName}}</span>
                                </div>
                            </td>
                            <td>
                                <div class="infos">
                                    <span class="info-fld">14. Religion (For demographics only)</span>
                                    <span class="info-value mt-2">{{dtl.StudentReligionName}}</span>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <span class="titles mt-3">II. PROGRAM INFORMATION</span>
                <table class="table table-bordered mt-3">
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <div class="infos">
                                    <span class="info-fld">15. Program Title</span>
                                    <span class="info-value mt-2">{{dtl.ProgramTitle}}</span>
                                </div>
                            </td>
                            <td>
                                <div class="infos">
                                    <span class="info-fld">16. Program Code</span>
                                    <span class="info-value mt-2">{{dtl.ProgramCode}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="infos">
                                    <span class="info-fld">17. Program Track and Specialization (If applicable)</span>
                                    <span class="info-value mt-2"></span>
                                </div>
                            </td>
                            <td>
                                <div class="infos">
                                    <span class="info-fld">18. Estimated Total Cost</span>
                                    <span class="info-value mt-2"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="infos">
                                    <span class="info-fld">19. Discount Description (If applicable)</span>
                                    <span class="info-value mt-2">{{dtl.DiscountTypeName}}</span>
                                </div>
                            </td>
                            <td colspan="2">
                                <div class="infos">
                                    <span class="info-fld">20. Student Admission/Program Notes (If applicable)</span>
                                    <span class="info-value mt-2"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="infos">
                                    <span class="info-fld">21. Program Clock Hours</span>
                                    <span class="info-value mt-2">N/A</span>
                                </div>
                            </td>
                            <td>
                                <div class="infos">
                                    <span class="info-fld">22. Program Credit Hours</span>
                                    <span class="info-value mt-2">120</span>
                                </div>
                            </td>
                            <td>
                                <div class="infos">
                                    <span class="info-fld">23. Commencement Date</span>
                                    <span class="info-value mt-2"></span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">

        </div>
    </div>

    <!-- Page 03 -->
    <div class="card">
        <div class="card-header">
            <div class="agreement-header">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td rowspan="4" width="70%">
                                <div class="org-container">
                                    <div class="logo-container">
                                        <img src="img/richmindale100px.webp" alt="Richmindale Official Logo">
                                    </div>
                                    <div class="org-details">
                                        <span class="org-name">Richmindale College</span>
                                        <span class="address mt-2">185 N. Apache Trail, Suite 1, Apache Junction,
                                            Arizona
                                            85120, USA</span>
                                        <span class="address mt-2">www.richmindale.com | info&#64;richmindale.com</span>
                                    </div>
                                </div>
                            </td>
                            <td width="15%">Document Number</td>
                            <td width="15%" class="tbl-value">ADM-5020-{{dtl.ProgramCode}}</td>
                        </tr>
                        <tr>
                            <td>Revision Number</td>
                            <td class="tbl-value">1024</td>
                        </tr>
                        <tr>
                            <td>Revision Date</td>
                            <td class="tbl-value">01-Oct-2024</td>
                        </tr>
                        <tr>
                            <td>Next Review Date</td>
                            <td class="tbl-value">01-Aug-2025</td>
                        </tr>
                        <tr>
                            <td colspan="3" class="document-title">
                                {{ dtl.ProgramCode }} Student Enrollment Agreement
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-body">
            <div class="agreement-container">
                <span class="titles mt-3">III. COURSES</span>
                <p class="mt-2">
                    The following courses with a total of 120 credit hours are required for the awarding of the
                    <strong>{{dtl.ProgramTitle}} ({{dtl.ProgramCode}})</strong> degree. The courses below are arranged
                    based on a logical sequence of learning contents. Students
                    may change the sequence of courses as long as the course requisites are followed.
                </p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Course Code</th>
                            <th>Course Title</th>
                            <th>Pre-requisite</th>
                            <th>Credit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="td-field"></td>
                            <td colspan="3" class="td-field"><strong>Semester 1</strong></td>
                        </tr>
                        <tr>
                            <td class="td-field"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="td-field"></td>
                            <td class="td-field" colspan="2"><strong>Total Credits for Program Completion</strong></td>
                            <td class="td-field text-right"><strong>120</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>

    <!-- Page 04 -->
    <div class="card">
        <div class="card-header">
            <div class="agreement-header">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td rowspan="4" width="70%">
                                <div class="org-container">
                                    <div class="logo-container">
                                        <img src="img/richmindale100px.webp" alt="Richmindale Official Logo">
                                    </div>
                                    <div class="org-details">
                                        <span class="org-name">Richmindale College</span>
                                        <span class="address mt-2">185 N. Apache Trail, Suite 1, Apache Junction,
                                            Arizona
                                            85120, USA</span>
                                        <span class="address mt-2">www.richmindale.com | info&#64;richmindale.com</span>
                                    </div>
                                </div>
                            </td>
                            <td width="15%">Document Number</td>
                            <td width="15%" class="tbl-value">ADM-5020-{{dtl.ProgramCode}}</td>
                        </tr>
                        <tr>
                            <td>Revision Number</td>
                            <td class="tbl-value">1024</td>
                        </tr>
                        <tr>
                            <td>Revision Date</td>
                            <td class="tbl-value">01-Oct-2024</td>
                        </tr>
                        <tr>
                            <td>Next Review Date</td>
                            <td class="tbl-value">01-Aug-2025</td>
                        </tr>
                        <tr>
                            <td colspan="3" class="document-title">
                                {{ dtl.ProgramCode }} Student Enrollment Agreement
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-body">
            <div class="agreement-container">
                <span class="titles mt-3">IV. TUITION AND FEES</span>
                <table class="table table-bordered mt-3">
                    <thead>
                        <tr>
                            <th>Estimated Costs to Complete the Program</th>
                            <th>Original Amount</th>
                            <th>Adjusted Amount</th>
                            <th>Unit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Total Tuition, for all credit units</td>
                            <td>$ 12, 000.00</td>
                            <td>$ 3, 000.00</td>
                            <td>120 credit units at $25 per unit</td>
                        </tr>
                        <tr>
                            <td>Total Miscellaneous Fee, for all credit units </td>
                            <td>1, 200.00</td>
                            <td>240</td>
                            <td>120 credit units at $2 per unit</td>
                        </tr>
                        <tr>
                            <td>Admission Fee</td>
                            <td>100</td>
                            <td>100</td>
                            <td>1 Program</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="td-field"><strong>Estimated Total Program Cost</strong></td>
                            <td class="td-field"><strong>$13, 300.00</strong></td>
                            <td class="td-field"><strong>$3, 340.00</strong></td>
                            <td class="td-field"></td>
                        </tr>
                    </tfoot>
                </table>
                <span class="titles indented mt-3">(a) Tuition Period Covered by this Agreement</span>
                <p class="indented mt-2">
                    The tuition period covered by this agreement is 6 years from the Commencement Date in this
                    agreement.
                </p>
                <span class="titles indented mt-3">(b) Basis of Calculation</span>
                <p class="indented mt-2">
                    The estimated cost to complete the program is based on the Tuition and Fees in the following table.
                    The
                    Registration Fee is a one-time fee for each program and is charged to the student during admission.
                </p>
                <table class="table table-bordered indented mt-3">
                    <thead>
                        <tr>
                            <th>Fee Description</th>
                            <th>Original Amount</th>
                            <th>Adjusted Amount</th>
                            <th>Unit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Admission Fee</td>
                            <td>$ 100</td>
                            <td>$ 100</td>
                            <td>Each application per program</td>
                        </tr>
                        <tr>
                            <td>Course Tuition</td>
                            <td>$ 100</td>
                            <td>$ 25</td>
                            <td>Each credit unit</td>
                        </tr>
                        <tr>
                            <td>Course Miscellaneous Fee</td>
                            <td>$ 10</td>
                            <td>$ 2</td>
                            <td>Each credit unit</td>
                        </tr>
                    </tbody>
                </table>
                <span class="titles indented mt-3">(c) Tuition and Fees NOT Included in the Estimated Total Program
                    Cost</span>
                <p class="indented mt-2">
                    Books and other study materials for course completion, library services, computer hardware, and
                    software
                    licenses and subscription (if applicable) are not provided within the tuition and fees and are not
                    included in the
                    calculation of the estimated total program cost. Students are required to purchase them
                    separately.<br /><br />
                    Furthermore, the following fees are not included in the estimated total program cost.
                </p>
                <table class="table table-bordered mt-3">
                    <thead>
                        <tr>
                            <th>Additional Fees</th>
                            <th>Amount</th>
                            <th>Unit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Application for transfer credit evaluation fee </td>
                            <td>$ 75</td>
                            <td>Each application</td>
                        </tr>
                        <tr>
                            <td>Software Licenses and Subscriptions</td>
                            <td>$ 100</td>
                            <td>Subscription per year</td>
                        </tr>
                        <tr>
                            <td>Transcript/diploma copy request fee</td>
                            <td>$ 10</td>
                            <td>Each set; one original copy is free</td>
                        </tr>
                        <tr>
                            <td>Expedited transcript/certificate service fee</td>
                            <td>$ 10</td>
                            <td>Each request</td>
                        </tr>
                        <tr>
                            <td>Late payment/insufficient funds fee</td>
                            <td>$ 20</td>
                            <td>Each transaction</td>
                        </tr>
                    </tbody>
                </table>
                <p class="indented mt-3">
                    The first transcript and diploma copies are provided to each student for free and must be requested
                    from the
                    Richmindale College Registrar Office via its website on RIMS > Dashboard > Services > Request
                    Transcript, or
                    copy and paste the link <a href="https://www.richmindale.com/rims/services/transcript"
                        target="_blank">www.richmindale.com/rims/services/transcript</a> in a web browser. Do NOT use
                    the
                    Parchment option to avoid being charged an additional fee
                </p>
                <span class="titles indented mt-3">(d) Tuition and Changes</span>
                <p class="indented mt-2">
                    Richmindale College guarantees the same tuition and fees for the enrolled student within the tuition
                    period
                    specified in item (a) of this section. After the tuition period, tuition and fees are subject to
                    change at the discretion
                    of Richmindale College. Any changes to the tuition and fees shall be communicated and agreed with
                    the student. A
                    new Enrollment Agreement with the agreed changes shall be carried out by both parties.
                </p>
                <span class="titles indented mt-3">(e) Discounts and Waived Fees</span>
                <p class="indented mt-2">
                    Student discounts and waived fees are deducted from the original fees as they apply.
                </p>
            </div>
        </div>
        <div class="card-footer">

        </div>
    </div>

    <!-- Page 05 -->
    <div class="card">
        <div class="card-header">
            <div class="agreement-header">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td rowspan="4" width="70%">
                                <div class="org-container">
                                    <div class="logo-container">
                                        <img src="img/richmindale100px.webp" alt="Richmindale Official Logo">
                                    </div>
                                    <div class="org-details">
                                        <span class="org-name">Richmindale College</span>
                                        <span class="address mt-2">185 N. Apache Trail, Suite 1, Apache Junction,
                                            Arizona
                                            85120, USA</span>
                                        <span class="address mt-2">www.richmindale.com | info&#64;richmindale.com</span>
                                    </div>
                                </div>
                            </td>
                            <td width="15%">Document Number</td>
                            <td width="15%" class="tbl-value">ADM-5020-{{dtl.ProgramCode}}</td>
                        </tr>
                        <tr>
                            <td>Revision Number</td>
                            <td class="tbl-value">1024</td>
                        </tr>
                        <tr>
                            <td>Revision Date</td>
                            <td class="tbl-value">01-Oct-2024</td>
                        </tr>
                        <tr>
                            <td>Next Review Date</td>
                            <td class="tbl-value">01-Aug-2025</td>
                        </tr>
                        <tr>
                            <td colspan="3" class="document-title">
                                {{ dtl.ProgramCode }} Student Enrollment Agreement
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-body">
            <div class="agreement-container">
                <span class="titles mt-3">V. PAYMENT AND FINANCING OPTIONS</span>
                <p class="mt-2 ms-4">Richmindale College accepts any of the following methods of payment:</p>
                <ul>
                    <li><input type="checkbox" class="me-2">Cash</li>
                    <li><input type="checkbox" class="me-2">Bank Transfers</li>
                    <li><input type="checkbox" class="me-2">Credit Cards</li>
                </ul>
                <span class="titles indented mt-3">(a) Terms of Payment</span>
                <p class="indented mt-2">
                    Richmindale College offers an installment plan to schedule fees in monthly payments. The number of
                    days used in
                    the terms of payment is based on the Gregorian calendar.<br /><br />
                    Students should pay the one-time admission fee of $100 upon admission application. If students apply
                    for transfer
                    of credits, they should also pay the credit transfer evaluation fee of $75, in addition to the
                    admission fee, upon
                    admission application.<br /><br />
                    The total tuition and fees based on the number of credits enrolled in each semester are divided into
                    3 payments.
                    The first payment is due upon enrollment. The remaining 2 payments are scheduled monthly for 2
                    months, starting
                    from the month when the semester classes start. The due date of each remaining payment is set on the
                    last working
                    day of each month.<br /><br />
                    For example, on July 1, Richmond applied for admission and got accepted on the same day. On August
                    1, he enrolled
                    in five 3-credit classes, a total of 15 credits for the Fall semester. The classes for the Fall
                    semester are scheduled to
                    start on September 8. The total amount of tuition and miscellaneous fees for the 15 credit units
                    enrolled for the
                    semester is $1,650. The total cost including the admission fee is $1,750 as shown in the table
                    below.
                </p>
                <table class="table table-bordered mt-2">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Qty</th>
                            <th>Units</th>
                            <th>Total Units</th>
                            <th>Unit Fee</th>
                            <th>Line Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Admission Fee, one-time</td>
                            <td>1</td>
                            <td>-</td>
                            <td>1</td>
                            <td>$100</td>
                            <td>$100</td>
                        </tr>
                        <tr>
                            <td>Tuition</td>
                            <td>5</td>
                            <td>3</td>
                            <td>15</td>
                            <td>100</td>
                            <td>1,500</td>
                        </tr>
                        <tr>
                            <td>Miscellaneous</td>
                            <td>5</td>
                            <td>3</td>
                            <td>15</td>
                            <td>10</td>
                            <td>150</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Total Fee for the Semester</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>$ 1,750</td>
                        </tr>
                    </tfoot>
                </table>
                <p class="indented mt-3">The payment schedule for the above semester fee example is as follows:</p>
                <table class="table table-bordered mt-2">
                    <thead>
                        <tr>
                            <th>Payment Term per Semester</th>
                            <th>Amount</th>
                            <th>Due Date per Semester</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Admission Fee, one-time</td>
                            <td>$ 100</td>
                            <td>Jul 1: Admission Application</td>
                        </tr>
                        <tr>
                            <td>Payment 1 of 3</td>
                            <td>$ 550</td>
                            <td>Aug 1: Course Enrollment</td>
                        </tr>
                        <tr>
                            <td>Payment 2 of 3</td>
                            <td>$ 550</td>
                            <td>Sept 30: End of the month when classes start</td>
                        </tr>
                        <tr>
                            <td>Payment 3 of 3</td>
                            <td>$ 550</td>
                            <td>Oct 30: End of the month after Payment 2</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Total Fee for the Semester</td>
                            <td>$ 1, 750</td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
                <p class="indented mt-3">
                    Students must settle all their outstanding balance to be able to enroll in courses for the next
                    semester. Students
                    must also pay for the first installment of each semester before the semester classes start.
                    Richmindale reserves the
                    right not to enroll students or not to allow students to attend classes due to missed payments based
                    on the terms
                    of payment specified in this agreement.
                </p>
                <span class="titles indented mt-3">(b) Federal Student Aid</span>
                <p class="indented mt-2">
                    Richmindale does not offer financial assistance. The school is not eligible for participation in the
                    Federal Student
                    Aid (FSA) programs and cannot process a request or assist with a deferment of a Title IV school
                    loan.
                </p>

            </div>
        </div>
        <div class="card-footer">

        </div>
    </div>

</div>