<div class="page-title">
    <div class="title-icon me-4">
        <i class="fa-solid fa-list-ul me-2"></i>
    </div>
    <div class="title">
        <h1>Quizzes</h1>
        <span>Quiz Results</span>
    </div>
    
</div>
<div class="content-section">
    <div class="card">
        <div class="card-body">
            <div class="table-placeholder">
                <table class="table table-hover table-stripe table-borderless table-responsive">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Subject</th>
                            <th>Result</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

