<div class="page-title">
    <div class="title-icon me-4">
        <i class="fa-solid fa-certificate me-2"></i>
    </div>
    <div class="title">
        <h1>Document Requests</h1>
        <span>List of Document Requests</span>
    </div>
</div>
<div class="content-section">
    <div class="card">
        <div class="card-header">
            <div class="filter-header">
                <div class="search-filter">
                    <label class="form-label mt-2">Search :</label>
                    <input type="text" [(ngModel)]="filter.Search" (input)="SearchChanged()" >
                </div>
                <div class="page-filter">
                    <label class="form-label mt-2 me-2">Size :</label>
                    <select [(ngModel)]="filter.PageSize" (change)="PageSizeChanged()">
                        <option value="10" selected>10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <label class="form-label mt-2 me-2 ms-4">Sort by :</label>
                    <select [(ngModel)]="filter.SortName" (change)="SortNameChanged()">
                        <option value="a.StudentCode">Student Number</option>
                        <option value="c.GivenName" selected>Given Name</option>
                        <option value="c.Lastname">Lastname</option>
                    </select>
                    <select class="ms-2" [(ngModel)]="filter.SortDirection" (change)="SortDirectionChanged()">
                        <option value="ASC" selected>Ascending</option>
                        <option value="DESC">Descending</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-placeholder">

            </div>
        </div>


    </div>
</div>
