<div class="page-title">
    <div class="title-icon me-4">
        <i class="fa-brands fa-paypal me-2"></i>
    </div>
    <div class="title">
        <h1>Paypal Payment Transactions</h1>
        <span>Paypal Payment Transaction Logs</span>
    </div>
</div>

<div class="content-section">
    <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
            <div class="table-placeholder">
                <table class="table table-hover table-bordered table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Transaction No.</th>
                            <th>Date</th>
                            <th>Email</th>
                            <th>Fullname</th>
                            <th>Payment For</th>
                            <th>Amount</th>
                            <th>Message</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of paypal">
                            <td>{{p.TransactionNumber}}</td>
                            <td>{{p.TransactionDate}}</td>
                            <td>{{p.EmailAddress}}</td>
                            <td>{{p.Fullname}}</td>
                            <td>{{p.PaymentFor}}</td>
                            <td>{{p.ShortMessage}}</td>
                            <td>{{p.Status}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
