<div class="agreement-header">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td rowspan="4" width="70%">
                    <div class="org-container">
                        <div class="logo-container">
                            <img src="img/richmindale100px.webp" alt="Richmindale Official Logo">
                        </div>
                        <div class="org-details">
                            <span class="org-name">{{orgname}}</span>
                            <span class="address mt-2">{{address}}</span>
                            <span class="address mt-2">{{contacts}}</span>
                        </div>
                    </div>
                </td>
                <td width="15%">Document Number</td>
                <td width="15%" class="tbl-value">{{docNumber}}</td>
            </tr>
            <tr>
                <td>Revision Number</td>
                <td class="tbl-value">{{version}}</td>
            </tr>
            <tr>
                <td>Revision Date</td>
                <td class="tbl-value">{{versionDate}}</td>
            </tr>
            <tr>
                <td>Next Review Date</td>
                <td class="tbl-value">{{nextVersion}}</td>
            </tr>
            <tr>
                <td colspan="3" class="document-title">{{title}}</td>
            </tr>
        </tbody>
    </table>
</div>
