<div class="page-wrapper">
    <div class="full-page">
        <h1>Admission Application Submitted!</h1>
        <p class="mt-3">
            Thank you for completing your application. The admission application approval process will take 10 business days.<br/><br/>
            A notification message was sent to your provided email address confirming the receipt of your application with instructions of the next steps to take.<br/><br/>
            Kindly review our catalog or visit our FAQ for more information.
        </p>
    </div>
</div>
