<div class="services-wrapper">
    <div class="page-banners">
        <div class="page-title-container">
            <h1 class="page-title">Services</h1>
        </div>
        
    </div>
    <div class="sitemap-placeholder">
        <a href="/" class="me-2">Home</a><i class="fa-solid fa-chevron-right me-2"></i><a href="/rims/services">Services</a>
    </div>
    <div class="page-content-container">
        <div class="card-3x">
            <i class="fa-solid fa-user-graduate mb-2"></i>
            <span class="form-title mb-4">Student Portal</span>
            
            <p>
                The Richmindale College Student Portal is your one-stop resource center designed to streamline your academic experience. Through the portal, students can easily manage their academic journey by enrolling in courses, accessing orientation materials and guides, exploring a comprehensive library of academic resources, and downloading unofficial transcripts. The portal also allows students to view their student ledger and billing history, generate financial receipts, update their contact information, and stay connected with their Academic Advisor. It serves as an essential tool to stay informed, manage schedules, and track progress, all in one convenient location.
            </p>
            <hr>
            <a href="/rims/login">Access Student Portal</a>
        </div>
        <div class="card-3x">
            <i class="fa-solid fa-cogs mb-2"></i>
            <span class="form-title mb-4">General Services &amp; Academic Advisement</span>
           
            <p>
                Richmindale College offers a variety of services to enhance the student experience. The General Services team provides assistance with school policies, administrative matters, and career guidance. They are available to answer any inquiries related to student life and online learning.
            </p>
            <hr>
            <a href="/contact">Go to Contact Us</a>

        </div>
        <div class="card-3x">
            <i class="fa-solid fa-file-lines mb-2"></i>
            <span class="form-title mb-4">Ordering Official Transcript</span>
            
            <p>
                Students may request official transcripts through the Student Portal. A transcript request fee may apply, and students can also access their unofficial transcripts anytime.
            </p>
            <hr>
            <a href="/rims/login">Request Official Transcript</a>
            <a href="/rims/login">Access Unofficial Transcript</a>

        </div>
        <div class="card-3x">
            <i class="fa-solid fa-paste mb-2"></i>
            <span class="form-title mb-4">Academic Advisement</span>
            <p>
                Upon enrollment, every student is assigned an Academic Advisor, who serves as their primary point of contact for academic and administrative support. Advisors assist with course selection, degree-completion plans, and academic progress, ensuring that students stay on track throughout their academic journey.
            </p>
            <hr>
            <a href="/rims/login">Login to Student Portal</a>

        </div>
        <div class="card-3x">
            <i class="fa-solid fa-graduation-cap mb-2"></i>
            <span class="form-title mb-4">Student Success</span>
            <p>
                Richmindale College offers 24/7 Student Success services designed to support students throughout their academic journey. This includes registration assistance, departmental contacts, and access to scheduling appointments with an Academic Advisor. The Student Success team is dedicated to ensuring students have the tools and support they need to succeed academically.
            </p>
            <hr>
            <a href="/rims/login">Login to Student Portal</a>
        </div>
        <div class="card-3x">
            <i class="fa-solid fa-briefcase mb-2"></i>
            <span class="form-title mb-4">Employment Services</span>
            <p>
                Richmindale College is dedicated to helping students find work and navigate the job market. Resources include job search support, career counseling, and access to job postings through the JobSpot platform.
            </p>
            <hr>
            <a href="https://www.chanspot.com" target="_blank">View Jobs</a>
        </div>
        <div class="card-3x">
            <i class="fa-regular fa-lightbulb mb-2"></i>
            <span class="form-title mb-4">New Student Orientation</span>
            <p>
                Richmindale College offers orientations for new students, providing a walkthrough of the learning management system, the student portal, and other key resources.
            </p>
            <hr>
            <a href="/rims/login">Access Orientation Materials</a>
            <a href="/rims/login">Explore Student Resources</a>
        </div>
        <div class="card-3x">
            <i class="fa-solid fa-id-card-clip mb-2"></i>
            <span class="form-title mb-4">Certificate &amp; ID Request</span>
            <p>
                Students can request various documents they may need during their studies, including Student IDs, Certificates of Good Standing, and Certificates of Enrollment. Requests can be made through the Student Portal.
            </p>
            <hr>
            <a href="/rims/login">Request Documents</a>
        </div>
        <div class="card-3x">
            <i class="fa-solid fa-trophy mb-2"></i>
            <span class="form-title mb-4">Commencement Ceremony</span>
            <p>
                Richmindale College holds an annual commencement ceremony in May. Eligible students will be notified of the schedule and location.
            </p>
            <hr>
            <a href="/rims/login">RSVP for Commencement</a>
            <a href="/rims/login">View Ceremony Details</a>
        </div>
        <div class="card-3x">
            <i class="fa-solid fa-book mb-2"></i>
            <span class="form-title mb-4">Library Services</span>
            <p>
                Students may access the Richmindale Online Library for academic resources.
            </p>
            <hr>
            <a href="/rims/login">Visit the Online Library</a>
        </div>
        <div class="card-3x">
            <i class="fa-solid fa-arrow-right-arrow-left mb-2"></i>
            <span class="form-title mb-4">Program or Course Change Request</span>
            <p>
                Students may request to change programs, add/drop courses, or adjust their class schedules.
            </p>
            <hr>
            <a href="/rims/login">Request Course Change</a>
            <a href="/rims/login">Explore Program Options</a>
        </div>
        <div class="card-3x">
            <i class="fa-solid fa-shuffle mb-2"></i>
            <span class="form-title mb-4">Credit Transfer Services</span>
            <p>
                Students may request to transfer credits from previous institutions or recognized professional learning experiences to Richmindale College. The transfer request will be reviewed for eligibility.
            </p>
            <hr>
            <a href="/rims/login">Request Transfer</a>
            <a href="/rims/login">Learn About Credit Transfer Policies</a>
        </div>
    </div>
</div>
