<div class="page-title">
    <div class="title-icon me-4">
        <i class="fa-solid fa-graduation-cap me-2"></i>
    </div>
    <div class="title">
        <h1>Graduation Application</h1>
        <span>Application for Graduation Request</span>
    </div>
    
</div>
<div class="content-section">
    <div class="card">
        <div class="card-header">
            <span class="card-title">Application for Graduation Requests</span>
            <div class="card-action">
                <button class="btn btn-primary">Apply</button>
            </div>
        </div>
        <div class="card-body">
            <div class="table-placeholder">
                <table class="table table-hover table-stripe table-borderless table-responsive">
                    <thead>
                        <tr>
                            <th>Reference No.</th>
                            <th>Date Requested</th>
                            <th>Purpose</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>
</div>

<ng-template #modalApply>
    
</ng-template>

