<div class="alumni-wrapper">
    <div class="page-banners">
        <div class="page-title-container">
            <h1 class="page-title">Alumni Events</h1>
        </div>
        
    </div>
    <div class="sitemap-placeholder">
        <a href="/" class="me-2">Home</a><i class="fa-solid fa-chevron-right me-2"></i><a href="/alumni">Alumni</a>
    </div>

    <div class="page-content-container">
        <div class="full-width-container">
            <span class="form-title">No Current Alumni Activities</span>
            <hr>
            <p>
                At this time, there are no upcoming events or activities scheduled for our alumni community. However, stay tuned for exciting updates and opportunities to reconnect with your fellow alumni. We&apos;re continuously working on creating meaningful engagements for you.<br/><br/>
                A Thank you for being a valuable part of our global network!
            </p>
        </div>
    </div>
</div>
