
<div class="policies-wrapper">
    <div class="page-banners">
        <div class="page-title-container">
            <h1 class="page-title">Policies &amp; Procedures</h1>
        </div>
        
    </div>
    <div class="sitemap-placeholder">
        <a href="/" class="me-2">Home</a><i class="fa-solid fa-chevron-right me-2"></i><a href="/policies">Policies</a>
    </div>
    <div class="page-content-container">
        <div class="full-width-container mb-3">
            <span class="form-title">New/Updated Policies &amp; Procedures</span>
            <hr>
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th>Document No.</th>
                        <th>Document Title</th>
                        <th>Rev. No</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="3">No new or updated documents within 30 calendar days.</td>
                    </tr>
                </tbody>

            </table>
        </div>

        <div class="full-width-container mb-3">
            <span class="form-title">Academics Policies &amp; Procedures</span>
            <hr>
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th>Document No.</th>
                        <th>Document Title</th>
                        <th>Rev. No</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ACA-1020</td>
                        <td><a href="/policies/academics/creditHours.htm"><strong>Credit Hours</strong></a></td>
                        <td class="text-end">0</td>
                    </tr>
                    <tr>
                        <td>ACA-1021</td>
                        <td><a href="/policies/academics/termCalendar.htm"><strong>School Term &amp; Academic Calendar Policy</strong></a></td>
                        <td class="text-end">1024</td>
                    </tr>
                    <tr>
                        <td>ACA-1022</td>
                        <td><a href="/policies/academics/courseEnrollment.htm"><strong>Course Enrollment &amp; Status Policy</strong></a></td>
                        <td class="text-end">0</td>
                    </tr>
                    <tr>
                        <td>ACA-1023</td>
                        <td><a href="/policies/academics/courseLoad.htm"><strong>Course Load Policy</strong></a></td>
                        <td class="text-end">0</td>
                    </tr>
                    <tr>
                        <td>ACA-1024</td>
                        <td><a href="/policies/academics/courseAddDrop.htm"><strong>Course Add/Drop Policy</strong></a></td>
                        <td class="text-end">0</td>
                    </tr>
                    <tr>
                        <td>ACA-1025</td>
                        <td><a href="/policies/academics/courseRepeat.htm"><strong>Course Repeat Policy</strong></a></td>
                        <td class="text-end">0</td>
                    </tr>
                    <tr>
                        <td>ACA-1026</td>
                        <td><a href="/policies/academics/courseDelivery.htm"><strong>Program &amp; Course Delivery Policy</strong></a></td>
                        <td class="text-end">0</td>
                    </tr>
                    <tr>
                        <td>ACA-1027</td>
                        <td><a href="/policies/academics/academicStatus.htm"><strong>Academic Status Policy</strong></a></td>
                        <td class="text-end">0</td>
                    </tr>
                    <tr>
                        <td>ACA-1028</td>
                        <td><a href="/policies/academics/adminWithdrawal.htm"><strong>Administrative Withdrawal Policy</strong></a></td>
                        <td class="text-end">1024</td>
                    </tr>
                    <tr>
                        <td>ACA-1029</td>
                        <td><a href="/policies/academics/grading.htm"><strong>Grading Policy</strong></a></td>
                        <td class="text-end">0</td>
                    </tr>
                    <tr>
                        <td>ACA-1030</td>
                        <td><a href="/policies/academics/honors.htm"><strong>Honors Recognition Policy</strong></a></td>
                        <td class="text-end">1024</td>
                    </tr>
                    <tr>
                        <td>ACA-1031</td>
                        <td><a href="/policies/academics/attendance.htm"><strong>Attendance Policy</strong></a></td>
                        <td class="text-end">0</td>
                    </tr>
                    <tr>
                        <td>ACA-1032</td>
                        <td><a href="/policies/academics/leave.htm"><strong>Leave of Absence Policy</strong></a></td>
                        <td class="text-end">1024</td>
                    </tr>
                    <tr>
                        <td>ACA-1033</td>
                        <td><a href="/policies/academics/idverification.htm"><strong>Student Identity Verifiication Policy</strong></a></td>
                        <td class="text-end">1024</td>
                    </tr>
                    <tr>
                        <td>ACA-1034</td>
                        <td><a href="/policies/academics/academicHonesty.htm"><strong>Academic Honesty Policy</strong></a></td>
                        <td class="text-end">0</td>
                    </tr>
                    <tr>
                        <td>ACA-1034</td>
                        <td><a href="/policies/academics/academicHonesty2.htm"><strong>Academic Honesty Procedure</strong></a></td>
                        <td class="text-end">0</td>
                    </tr>
                    <tr>
                        <td>ACA-1035</td>
                        <td><a href="/policies/academics/copyright.htm"><strong>Copyright Policy</strong></a></td>
                        <td class="text-end">1024</td>
                    </tr>
                    <tr>
                        <td>ACA-1036</td>
                        <td><a href="/policies/academics/sap.htm"><strong>Satisfactory Academic Progress Policy</strong></a></td>
                        <td class="text-end">1024</td>
                    </tr>
                    <tr>
                        <td>ACA-1037</td>
                        <td><a href="/policies/academics/harassment.htm"><strong>Harassment Policy</strong></a></td>
                        <td class="text-end">0</td>
                    </tr>
                    <tr>
                        <td>ACA-1038</td>
                        <td><a href="/policies/academics/nondiscrimination.htm"><strong>Nondiscrimination Policy</strong></a></td>
                        <td class="text-end">0</td>
                    </tr>
                    <tr>
                        <td>ACA-1039</td>
                        <td><a href="/policies/academics/conduct.htm"><strong>Conduct Policy</strong></a></td>
                        <td class="text-end">0</td>
                    </tr>
                    <tr>
                        <td>ACA-1040</td>
                        <td><a href="/policies/academics/grievance.htm"><strong>Grievance Policy</strong></a></td>
                        <td class="text-end">0</td>
                    </tr>
                    <tr>
                        <td>ACA-1041</td>
                        <td><a href="/policies/academics/training.htm"><strong>Clinical Training, Practicum, Externships or Special Features Policy</strong></a></td>
                        <td class="text-end">0</td>
                    </tr>
                </tbody>

            </table>
        </div>

        <div class="full-width-container mb-3">
            <span class="form-title">Admissions Policies &amp; Procedures</span>
            <hr>
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th>Document No.</th>
                        <th>Document Title</th>
                        <th>Rev. No</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ADM-1020</td>
                        <td><a href="/policies/admissions/application.htm"><strong>Admission Policy</strong></a></td>
                        <td class="text-end">1024</td>
                    </tr>
                    <tr>
                        <td>ADM-1020</td>
                        <td><a href="/policies/admissions/application2.htm"><strong>Admission Application Procedure</strong></a></td>
                        <td class="text-end">1024</td>
                    </tr>
                    <tr>
                        <td>ADM-1021</td>
                        <td><a href="/policies/admissions/technology.htm"><strong>Equipment and Technology Reuirements or Competencies Policy</strong></a></td>
                        <td class="text-end">0</td>
                    </tr>
                    <tr>
                        <td>ADM-1022</td>
                        <td><a href="/policies/admissions/onboarding.htm"><strong>Student Onboarding Policy</strong></a></td>
                        <td class="text-end">0</td>
                    </tr>
                    <tr>
                        <td>ADM-1023</td>
                        <td><a href="/policies/admissions/creditTransfer.htm"><strong>Credit Transfer Policy</strong></a></td>
                        <td class="text-end">0</td>
                    </tr>
                    <tr>
                        <td>ADM-1023</td>
                        <td><a href="/policies/admissions/creditTransfer2.htm"><strong>Credit Transfer Procedure</strong></a></td>
                        <td class="text-end">0</td>
                    </tr>
                    <tr>
                        <td>ADM-1024</td>
                        <td><a href="/policies/admissions/fees.htm"><strong>Tuition and Fees Policy</strong></a></td>
                        <td class="text-end">1024</td>
                    </tr>
                    <tr>
                        <td>ADM-1025</td>
                        <td><a href="/policies/admissions/financing.htm"><strong>Payment and Financing Options Policy</strong></a></td>
                        <td class="text-end">1024</td>
                    </tr>
                    <tr>
                        <td>ADM-1026</td>
                        <td><a href="/policies/admissions/discounts.htm"><strong>Discounts Policy</strong></a></td>
                        <td class="text-end">1024</td>
                    </tr>
                    <tr>
                        <td>ADM-1027</td>
                        <td><a href="/policies/admissions/cancellation.htm"><strong>Cancellation, Withdrawal and Refund Policy</strong></a></td>
                        <td class="text-end">1024</td>
                    </tr>
                </tbody>

            </table>
        </div>

        <div class="full-width-container mb-3">
            <span class="form-title">Registrar Policies &amp; Procedures</span>
            <hr>
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th>Document No.</th>
                        <th>Document Title</th>
                        <th>Rev. No</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>REG-1020</td>
                        <td><a href="/policies/registrar/exitSurvey.htm"><strong>Exit Survey Policy</strong></a></td>
                        <td class="text-end">0</td>
                    </tr>
                    <tr>
                        <td>REG-1021</td>
                        <td><a href="/policies/registrar/graduation.htm"><strong>Graduation Policy</strong></a></td>
                        <td class="text-end">0</td>
                    </tr>
                    <tr>
                        <td>REG-1022</td>
                        <td><a href="/policies/registrar/transacript.htm"><strong>Transcript Request Policy</strong></a></td>
                        <td class="text-end">1024</td>
                    </tr>
                    <tr>
                        <td>REG-1022</td>
                        <td><a href="/policies/registrar/transacript2.htm"><strong>Transcript Request Procedure</strong></a></td>
                        <td class="text-end">1024</td>
                    </tr>
                    <tr>
                        <td>REG-1023</td>
                        <td><a href="/policies/registrar/records.htm"><strong>Maintenance and Confidentiality of Student Records Policy</strong></a></td>
                        <td class="text-end">0</td>
                    </tr>
                </tbody>

            </table>
        </div>

        <div class="full-width-container mb-3">
            <span class="form-title">Finance Policies &amp; Procedures</span>
            <hr>
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th>Document No.</th>
                        <th>Document Title</th>
                        <th>Rev. No</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>FIN-1020</td>
                        <td><a href=""><strong>Revenue Recognition Policy</strong></a></td>
                        <td class="text-end">0</td>
                    </tr>
                    <tr>
                        <td>FIN-1021</td>
                        <td><a href=""><strong>Asset Recognition Policy</strong></a></td>
                        <td class="text-end">0</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>