<!-- Page 01 -->
<div class="card">
    <div class="card-header">
        <div class="agreement-header">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td rowspan="4" width="70%">
                            <div class="org-container">
                                <div class="logo-container">
                                    <img src="img/richmindale100px.webp" alt="Richmindale Official Logo">
                                </div>
                                <div class="org-details">
                                    <span class="org-name">Richmindale Institute</span>
                                    <span class="address mt-2">#850 Nicanor Reyes St., Sampaloc, Manila, Philippines
                                        1008</span>
                                    <span class="address mt-2">www.richmindale.edu.ph |
                                        info&#64;richmindale.edu.ph</span>
                                </div>
                            </div>
                        </td>
                        <td width="15%">Document Number</td>
                        <td width="15%" class="tbl-value">ADM-5020</td>
                    </tr>
                    <tr>
                        <td>Revision Number</td>
                        <td class="tbl-value">1024</td>
                    </tr>
                    <tr>
                        <td>Revision Date</td>
                        <td class="tbl-value">01-Oct-2024</td>
                    </tr>
                    <tr>
                        <td>Next Review Date</td>
                        <td class="tbl-value">01-Aug-2028</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="document-title">
                            Student Enrollment Agreement
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-body">
        <div class="agreement-container">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="4" class="text-left">For official use only</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="td-field">Admission Reference ID</td>
                        <td></td>
                        <td class="td-field">Admission Date</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="td-field">Recruitment Representative</td>
                        <td></td>
                        <td class="td-field">Local Customer/Student ID</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="td-field">Enrolled School or Institution</td>
                        <td></td>
                        <td class="td-field">Enrolled School Student ID</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="4" class="td-field">General Notes</td>
                    </tr>
                    <tr>
                        <td colspan="4" rowspan="4">

                        </td>
                    </tr>
                </tbody>
            </table>
            <span class="subtitles mt-3">PARTNER SCHOOL ENROLLMENT AGREEMENT ATTACHMENT</span>
            <p class="mt-2">
                If the student is enrolled in a partner school or institution, the student must have a separate
                enrollment agreement or
                contract with the partner school or institution. A copy of such an agreement or contract that is duly
                signed by all parties must
                be attached to this enrollment agreement.
            </p>

            <span class="titles mt-3">I. ENROLLMENT INFORMATION</span>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>
                            <div class="infos">
                                <span class="info-fld">1. Student Last Name *</span>
                                <span class="info-value mt-2">Dela Cruz</span>
                            </div>
                        </td>
                        <td>
                            <div class="infos">
                                <span class="info-fld">2. Student Given Name *</span>
                                <span class="info-value mt-2">Juan</span>
                            </div>
                        </td>
                        <td>
                            <div class="infos">
                                <span class="info-fld">3. Student Middle Name *</span>
                                <span class="info-value mt-2">Pilar</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="infos">
                                <span class="info-fld">4. Program Code and Title *</span>
                                <span class="info-value mt-2">BSCS | Science in Computer Science</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <span class="titles mt-3">II. TUITION FEES</span>
            <p>
                The student only pays the fees in this section, except software. The fees charged by the partner school
                are included in these
                fees, <u>except the software licenses and subscription which are to be purchased by the student from a
                    third-party vendor.</u>
            </p>
            <table class="table table-bordered mt-3">
                <thead>
                    <tr>
                        <th>Estimated Cost to Complete the Program</th>
                        <th>Amount</th>
                        <th>Unit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Admission/Credit Transfer Evaluation Fee</td>
                        <td>$ 100</td>
                        <td>1 Program/Application</td>
                    </tr>
                    <tr>
                        <td>Total Program Tuition, for all credit units</td>
                        <td>12, 000</td>
                        <td>$100 per unit, 120 credit units</td>
                    </tr>
                    <tr>
                        <td>Total Program Miscellaneous Fee, for all credit units</td>
                        <td>1,200</td>
                        <td>$10 per unit, 120 credit units</td>
                    </tr>
                    <tr>
                        <td>Service Fee</td>
                        <td>360</td>
                        <td>1 Program</td>
                    </tr>
                    <tr>
                        <td>Discount</td>
                        <td>(9,960)</td>
                        <td>1 Program</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Estimated Total Program Cost</td>
                        <td>$ 3,700</td>
                        <td>Excluding Software</td>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>
    <div class="card-footer">

    </div>
</div>

<!-- Page 02 -->
<div class="card">
    <div class="card-header">
        <div class="agreement-header">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td rowspan="4" width="70%">
                            <div class="org-container">
                                <div class="logo-container">
                                    <img src="img/richmindale100px.webp" alt="Richmindale Official Logo">
                                </div>
                                <div class="org-details">
                                    <span class="org-name">Richmindale Institute</span>
                                    <span class="address mt-2">#850 Nicanor Reyes St., Sampaloc, Manila, Philippines
                                        1008</span>
                                    <span class="address mt-2">www.richmindale.edu.ph |
                                        info&#64;richmindale.edu.ph</span>
                                </div>
                            </div>
                        </td>
                        <td width="15%">Document Number</td>
                        <td width="15%" class="tbl-value">ADM-5020</td>
                    </tr>
                    <tr>
                        <td>Revision Number</td>
                        <td class="tbl-value">1024</td>
                    </tr>
                    <tr>
                        <td>Revision Date</td>
                        <td class="tbl-value">01-Oct-2024</td>
                    </tr>
                    <tr>
                        <td>Next Review Date</td>
                        <td class="tbl-value">01-Aug-2028</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="document-title">
                            Student Enrollment Agreement
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-body">
        <div class="agreement-container">
            <span class="titles indented">(a) Discounted Fee Breakdown</span>
            <table  class="table table-bordered mt-2 indented">
                <thead>
                    <tr>
                        <th>Fee Description</th>
                        <th>Amount</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Admission Fee</td>
                        <td>$ 100</td>
                        <td>One time, due upon admission application.</td>
                    </tr>
                    <tr>
                        <td>Credit Transfer Evaluation Fee</td>
                        <td>-</td>
                        <td>One time, due upon admission application.</td>
                    </tr>
                    <tr>
                        <td>Discounted Tuition</td>
                        <td>3,000</td>
                        <td>$25 per unit, 120 credit units</td>
                    </tr>
                    <tr>
                        <td>Discounted Miscellaneous Fee</td>
                        <td>240</td>
                        <td>$2 per unit, 120 credit units</td>
                    </tr>
                    <tr>
                        <td>Service Fee</td>
                        <td>360</td>
                        <td>1 Program</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Estimated Total Program Cost</td>
                        <td>$ 3,700</td>
                        <td>Excluding software licenses and subscriptions</td>
                    </tr>
                </tfoot>
            </table>
            <span class="titles mt-3">III. PAYMENT AND FINANCING OPTIONS</span>
            <span class="titles indented mt-2">(a) Methods of Payments</span>
            <p class="indented mt-2">Richmindale Institute accepts any of the following methods of payment:</p>
            <ul>
                <li><input type="checkbox" class="me-2">Cash</li>
                <li><input type="checkbox" class="me-2">Bank Transfers</li>
                <li><input type="checkbox" class="me-2">Credit Cards</li>
            </ul>
            <span class="titles indented mt-3">(b) Terms of Payments</span>
            <p class="indented mt-2">One-time fees that are to be paid by the student to Richmindale Institute upon admission application.</p>
            <table class="table table-bordered indented mt-3">
                <thead>
                    <tr>
                        <th>Fee Description</th>
                        <th>Amount</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Admission Fee</td>
                        <td>$100</td>
                        <td>One time, due upon admission application.</td>
                    </tr>
                    <tr>
                        <td>Credit Transfer Evaluation Fee</td>
                        <td>-</td>
                        <td>One time, due upon admission application.</td>
                    </tr>
                </tbody>
            </table>
            <p class="indented mt-2">Richmindale Institute offers an installment plan per semester to schedule fees in monthly payments. The number
                of days used in the terms of payment is based on the Gregorian calendar. Below is a sample payment schedule:</p>
            <table class="table table-bordered indented mt-3">
                <thead>
                    <tr>
                        <th>Payment Terms per Semester</th>
                        <th>Amount</th>
                        <th>Due Date per Semester</th>
                    </tr>
                </thead>
                <tbody>
                   <tr>
                        <td>Payment 1 of 3</td>
                        <td>$ 150</td>
                        <td>Due by the end of the month when classes start.</td>
                   </tr>
                   <tr>
                        <td>Payment 2 of 3</td>
                        <td>150</td>
                        <td>Due by the end of the month after Payment 1.</td>
                    </tr>
                    <tr>
                        <td>Payment 3 of 3</td>
                        <td>150</td>
                        <td>Due by the end of the month after Payment 2.</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Total per Semester</td>
                        <td>$ 450</td>
                        <td>Semester fees change based on enrolled courses.</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="card-footer">

    </div>
</div>

<!-- Page 03 -->
 <div class="card">
    <div class="card-header">
        <div class="agreement-header">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td rowspan="4" width="70%">
                            <div class="org-container">
                                <div class="logo-container">
                                    <img src="img/richmindale100px.webp" alt="Richmindale Official Logo">
                                </div>
                                <div class="org-details">
                                    <span class="org-name">Richmindale Institute</span>
                                    <span class="address mt-2">#850 Nicanor Reyes St., Sampaloc, Manila, Philippines
                                        1008</span>
                                    <span class="address mt-2">www.richmindale.edu.ph |
                                        info&#64;richmindale.edu.ph</span>
                                </div>
                            </div>
                        </td>
                        <td width="15%">Document Number</td>
                        <td width="15%" class="tbl-value">ADM-5020</td>
                    </tr>
                    <tr>
                        <td>Revision Number</td>
                        <td class="tbl-value">1024</td>
                    </tr>
                    <tr>
                        <td>Revision Date</td>
                        <td class="tbl-value">01-Oct-2024</td>
                    </tr>
                    <tr>
                        <td>Next Review Date</td>
                        <td class="tbl-value">01-Aug-2028</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="document-title">
                            Student Enrollment Agreement
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-body">
        <div class="agreement-container">
            <span class="titles">IV. CANCELLATION, WITHDRAWAL AND REFUND POLICY</span>
            <p class="mt-2">If the student is enrolled in a partner school or institution, Richmindale Institute follows the Cancellation, Withdrawal,
                and Refund Policy of the partner school or institution that is attached to this agreement.<br/><br/>
                For Richmindale Institute students, the Cancellation, Withdrawal, and Refund Policy is attached to this agreement.
            </p>
            <span class="titles mt-3">V. GOVERNING LAW; FORUM</span>
            <p class="mt-2">
                If the student is enrolled in a partner school or institution, Richmindale Institute follows the governing law stated in the
                school’s enrollment agreement with the student.<br/><br/>
                For Richmindale Institute students, the courts of Manila, Philippines shall have exclusive jurisdiction to hear all disputes
                arising out of this agreement.
            </p>
            <span class="titles mt-3">VI. ACCEPTANCE</span>
            <p class="mt-2">
                I, the undersigned, have read and understood this agreement and acknowledge receipt of a copy. It is further understood
                and agreed that this agreement supersedes all prior or contemporaneous verbal or written agreements and may not be
                modified without the written agreement of the student and the school official. I also understand that if I default upon this
                agreement, I will be responsible for payment of any collection fees or attorney fees incurred by Richmindale College.<br/><br/>
                My signature below signifies that I have read and understood all aspects of this agreement and do recognize my legal
                responsibilities to this contract.
            </p>
            <span class="subtitles mt-2">Important Note!</span>
            <p class="mt-2">
                This document contains multiple pages. Ensure that you sign all pages of this document. Do NOT sign this document
                unless you have read, understood and agreed to the terms and conditions detailed in all pages of this document.
            </p>
        </div>
    </div>
 </div>