<div class="page-title">
    <div class="title-icon me-4">
        <i class="fa-solid fa-medal me-2"></i>
    </div>
    <div class="title">
        <h1>Satisfactory Academic Progress</h1>
        <span>SAP Performance</span>
    </div>
    
</div>
<div class="content-section">
    <div class="card">
        <div class="card-header">
            <span class="card-title"></span>
            <div class="card-action">
                <button class="btn btn-primary" (click)="CreateAppeal()">Submit An Appeal</button>
            </div>
        </div>
        <div class="card-body">
            
        </div>
    </div>
</div>
