<!-- Page 1 -->
<div class="card">
    <div class="card-header">
        <div class="left-header">
            <span class="class-card-title">PROGRESS REPORT CARD (UNOFFICIAL)</span>
            <span class="class-card-subtitle">Document No. ACA-5100-A | Revision 1 on 18-Dec-2019</span>
            <div class="academic-year mt-5">
                <span class="academic-label">Academic Year : </span>
                <span class="academic-value">2024 - 2025</span>
            </div>
        </div>
        <div class="right-header">
            <div class="card-logo me-3">
                <img src="img/richmindale100px.webp" alt="Richmindale - Unofficial Report Card">
            </div>
            <div class="card-address">
                <span class="org-name">Richmindale Philippine School, Inc.</span>
                <span class="address">Poblacion, Compostela, Cebu, Philippines</span>
                <span class="address">Phone: +63 (32) 425-8068 | Mobile: +63 (956) 891 2817</span>
                <div class="reg-details mt-4">
                    <span class="reg-label">DepEd Reg No. :</span>
                    <span class="reg-value">409685</span>
                </div>
            </div>

        </div>

    </div>
    <div class="card-body">
        <div class="class-card-container card-deped-js">
            <div class="container-fluid">
                <div class="row mt-2">
                    <div class="col-2 form-group">Student Name :</div>
                    <div class="col-4 form-group"></div>
                    <div class="col-2 form-group">Date of Birth :</div>
                    <div class="col-4 form-group"></div>
                </div>
                <div class="row mt-2">
                    <div class="col-2 form-group">DepEd LRN:</div>
                    <div class="col-4 form-group"></div>
                    <div class="col-2 form-group">Age in Aug. 2024 :</div>
                    <div class="col-4 form-group"></div>
                </div>
                <div class="row mt-2">
                    <div class="col-2 form-group">Grade Level :</div>
                    <div class="col-4 form-group"></div>
                    <div class="col-2 form-group">Gender :</div>
                    <div class="col-4 form-group"></div>
                </div>
            </div>
            <hr>
            <div class="disclaimer mt-0">
                <p>
                    Dear Parents/Guardians,<br /><br />

                    This report card shows the ability and the progress that your child has made in the different
                    learning areas as well as his/her progress in character development.<br /><br />
                    <b>Richmindale</b> welcomes you if you desire to know more about the progress of your child.
                </p>

                <div class="signatories mt-5">
                    <div class="signatory">
                        <div class="registrar">
                            <span>ROMEO DANIEL M. DE GUZMAN III</span>
                        </div>
                        <span>Teacher</span>
                    </div>
                    <div class="signatory">
                        <div class="registrar">
                            <span>JUDIANA M. CORRIENTE</span>
                        </div>
                        <span>Principal</span>
                    </div>
                </div>
            </div>
            <div class="transfer-performance mt-3">
                <div class="bordered-box">
                    <span class="box-title">CERTIFICATE OF TRANSFER</span>
                    <div class="container-fluid mt-1">
                        <div class="row">
                            <div class="col-5 form-group">
                                <label class="form-label mt-3">Admitted to Grade :</label>
                            </div>
                            <div class="col-2 form-group">
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-2 form-group">
                                <label class="form-label mt-3">Section :</label>
                            </div>
                            <div class="col-3 form-group">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 form-group">
                                <label class="form-label mt-3">Eligible for Admission to Grade :</label>
                            </div>
                            <div class="col-7 form-group">
                                <input type="text" class="form-control">
                            </div>

                        </div>
                    </div>
                    <div class="signatories mt-5">
                        <div class="signatory">
                            <div class="registrar">
                                <span>ROMEO DANIEL M. DE GUZMAN III</span>
                            </div>
                            <span>Teacher</span>
                        </div>
                        <div class="signatory">
                            <div class="registrar">
                                <span>JUDIANA M. CORRIENTE</span>
                            </div>
                            <span>Principal</span>
                        </div>
                    </div>
                </div>
                <div class="bordered-box">
                    <span class="box-title">CANCELLATION OF ELIGIBILITY TO TRANSFER</span>
                    <div class="container-fluid mt-1">
                        <div class="row">
                            <div class="col-5 form-group">
                                <label class="form-label mt-3">Admitted to Grade :</label>
                            </div>
                            <div class="col-2 form-group">
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-2 form-group">
                                <label class="form-label mt-3">Date :</label>
                            </div>
                            <div class="col-3 form-group">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row mt-5 p-2"></div>
                        <div class="signatories mt-6">
                            <div class="signatory">
                                <div class="registrar">
                                    <span></span>
                                </div>
                                <span>Teacher</span>
                            </div>
                            <div class="signatory">
                                <div class="registrar">
                                    <span></span>
                                </div>
                                <span>Principal</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span class="titles mt-3">REPORT ON LEARNING PROGRESS AND ACHIEVEMENT</span>
            <div class="tables">
                <div class="table-grades">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="tbl-header">
                                    <span class="tbl-title">FIRST SEMESTER</span>
                                </th>
                                <th class="tbl-header" colspan="2">
                                    <span class="tbl-subtitle text-center">Quarter</span>
                                </th>
                                <th class="tbl-header">
                                    <span class="tbl-subtitle text-center">Semester</span>
                                </th>
                            </tr>
                            <tr>
                                <th class="tbl-header">
                                    <span class="tbl-subtitle">Learning Areas</span>
                                </th>
                                <th class="tbl-header"><span class="tbl-subtitle text-center">1</span></th>
                                <th class="tbl-header"><span class="tbl-subtitle text-center">2</span></th>
                                <th class="tbl-header"><span class="tbl-subtitle text-center">Final Grade</span></th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <td class="tbl-subheader" colspan="4">
                                    <span class="subtitle">Core Subjects</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="text-row-desc ms-2">asdasdasdsd</span></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="tbl-subheader" colspan="4">
                                    <span class="subtitle">Applied and Specialized Subjects</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td><span class="tbl-title">Semester 1 GENERAL AVERAGE</span></td>
                                <td>10</td>
                                <td>92</td>
                                <td>A</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="table-grades">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="tbl-header">
                                    <span class="tbl-title">SECOND SEMESTER</span>
                                </th>
                                <th class="tbl-header" colspan="2">
                                    <span class="tbl-subtitle text-center">Quarter</span>
                                </th>
                                <th class="tbl-header">
                                    <span class="tbl-subtitle text-center">Semester</span>
                                </th>
                            </tr>
                            <tr>
                                <th class="tbl-header">
                                    <span class="tbl-subtitle">Learning Areas</span>
                                </th>
                                <th class="tbl-header"><span class="tbl-subtitle text-center">1</span></th>
                                <th class="tbl-header"><span class="tbl-subtitle text-center">2</span></th>
                                <th class="tbl-header"><span class="tbl-subtitle text-center">Final Grade</span></th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <td class="tbl-subheader" colspan="4">
                                    <span class="subtitle">Core Subjects</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="text-row-desc ms-2">asdasdasdsd</span></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="tbl-subheader" colspan="4">
                                    <span class="subtitle">Applied and Specialized Subjects</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td><span class="tbl-title">Semester 2 GENERAL AVERAGE</span></td>
                                <td>10</td>
                                <td>92</td>
                                <td>A</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>


            </div>
            <div class="desc-box mt-3">
                <div class="grading-system">
                    <table class="table table-borderless mt-2">
                        <thead>
                            <tr>
                                <th>Descriptors</th>
                                <th>Grading Scale</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td  class="float-start">Outstanding</td>
                                <td>90 - 100</td>
                                <td>Passed</td>
                            </tr>
                            <tr>
                                <td class="float-start">Very Satisfactory</td>
                                <td>85 - 89</td>
                                <td>Passed</td>
                            </tr>
                            <tr>
                                <td class="float-start">Satisfactory</td>
                                <td>80 - 84</td>
                                <td>Passed</td>
                            </tr>
                            <tr>
                                <td class="float-start">Fairly Satisfactory</td>
                                <td>75 - 79</td>
                                <td>Passed</td>
                            </tr>
                            <tr>
                                <td class="float-start">Did Not Meet Expectations</td>
                                <td>Below 75</td>
                                <td>Failed</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="desc">
                    <p>See Report on learner’s observed values, attendance and
                        parent’s comments at the back of this page.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page 2 -->
<div class="card">
    <div class="card-header">
        <div class="left-header">
            <span class="class-card-title">PROGRESS REPORT CARD (UNOFFICIAL)</span>
            <span class="class-card-subtitle">Document No. ACA-5100-A | Revision 1 on 18-Dec-2019</span>
            <div class="academic-year mt-5">
                <span class="academic-label">Academic Year : </span>
                <span class="academic-value">2024 - 2025</span>
            </div>
        </div>
        <div class="right-header">
            <div class="card-logo me-3">
                <img src="img/richmindale100px.webp" alt="Richmindale - Unofficial Report Card">
            </div>
            <div class="card-address">
                <span class="org-name">Richmindale Philippine School, Inc.</span>
                <span class="address">Poblacion, Compostela, Cebu, Philippines</span>
                <span class="address">Phone: +63 (32) 425-8068 | Mobile: +63 (956) 891 2817</span>
                <div class="reg-details mt-4">
                    <span class="reg-label">DepEd Reg No. :</span>
                    <span class="reg-value">409685</span>
                </div>
            </div>

        </div>

    </div>
    <div class="card-body">
        <div class="class-card-container card-deped-js">
            <div class="container-fluid">
                <div class="row mt-2">
                    <div class="col-2 form-group">Student Name :</div>
                    <div class="col-4 form-group"></div>
                    <div class="col-2 form-group">Date of Birth :</div>
                    <div class="col-4 form-group"></div>
                </div>
                <div class="row mt-2">
                    <div class="col-2 form-group">DepEd LRN:</div>
                    <div class="col-4 form-group"></div>
                    <div class="col-2 form-group">Age in Aug. 2024 :</div>
                    <div class="col-4 form-group"></div>
                </div>
                <div class="row mt-2">
                    <div class="col-2 form-group">Grade Level :</div>
                    <div class="col-4 form-group"></div>
                    <div class="col-2 form-group">Gender :</div>
                    <div class="col-4 form-group"></div>
                </div>
            </div>
            <hr>
            <span class="titles mt-3">REPORT ON LEARNER'S OBSERVED VALUES</span>
            <div class="tables">
                <div class="table-attendance">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="tbl-header"><span class="tbl-title">Core Values</span></th>
                                <th class="tbl-header"><span class="tbl-title">Behavior Statements</span></th>
                                <th class="tbl-header quarters" colspan="4"><span class="tbl-title text-center">Quarter</span></th>
                            </tr>
                            <tr>
                                <th class="tbl-header" colspan="2"></th>
                                <th class="tbl-header"><span class="tbl-title text-center">1</span></th>
                                <th class="tbl-header"><span class="tbl-title text-center">2</span></th>
                                <th class="tbl-header"><span class="tbl-title text-center">3</span></th>
                                <th class="tbl-header"><span class="tbl-title text-center">4</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="2" class="text-left">1. Maka-Diyos</td>
                                <td class="text-left">Expresses one's spiritual beliefs while respecting the spiritual beliefs of others.</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-left">Shows adherence to ethical principles by upholding truth.</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td rowspan="2" class="text-left">2. Makatao</td>
                                <td class="text-left">Is sensitive to individual, social, and cultural differences.</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-left">Demonstrates contributions toward solidarity.</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-left">3. Makakalikasan</td>
                                <td class="text-left">Cares for the environment and utilizes resources wisely, judiciously, and economically.</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td rowspan="2" class="text-left">4. Makabansa</td>
                                <td class="text-left">Demonstrates pride in being a Filipino; exercises the rights and responsibilities of a Filipino citizen.</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-left">Demonstrates appropriate behavior in carrying out activities in the school, community, and country.</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="desc-box mt-3">
                 <div class="grading-system">
                    <table class="table table-borderless mt-2">
                        <thead>
                            <tr>
                                <th>Observed Values</th>
                                <th>Marking</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="4"></td>
                                <td>AO</td>
                                <td class="text-left">Always Observed</td>
                            </tr>
                            <tr>
                                
                                <td>SO</td>
                                <td class="text-left">Sometimes Observed</td>
                            </tr>
                            <tr>
                                
                                <td>RO</td>
                                <td class="text-left">Rarely Observed</td>
                            </tr>
                            <tr>
                                
                                <td>NO</td>
                                <td class="text-left">Not Observed</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
            <span class="titles mt-0">ATTENDANCE</span>
            <div class="tables">
                <div class="table-attendance">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="tbl-header">
                                    <span class="tbl-title">Description</span>
                                </th>
                                <th class="tbl-header">
                                    <span class="tbl-title">Aug</span>
                                </th>
                                <th class="tbl-header">
                                    <span class="tbl-title">Sep</span>
                                </th>
                                <th class="tbl-header">
                                    <span class="tbl-title">Oct</span>
                                </th>
                                <th class="tbl-header">
                                    <span class="tbl-title">Nov</span>
                                </th>
                                <th class="tbl-header">
                                    <span class="tbl-title">Dec</span>
                                </th>
                                <th class="tbl-header">
                                    <span class="tbl-title">Jan</span>
                                </th>
                                <th class="tbl-header">
                                    <span class="tbl-title">Feb</span>
                                </th>
                                <th class="tbl-header">
                                    <span class="tbl-title">Mar</span>
                                </th>
                                <th class="tbl-header">
                                    <span class="tbl-title">Apr</span>
                                </th>
                                <th class="tbl-header">
                                    <span class="tbl-title">May</span>
                                </th>
                                <th class="tbl-header">
                                    <span class="tbl-title">Jun</span>
                                </th>
                                <th class="tbl-header">
                                    <span class="tbl-title">Total</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="text-row-desc ms-2">School Days</span></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><span class="text-row-desc ms-2">Days Present</span></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><span class="text-row-desc ms-2">Days Absent</span></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="parent-section mt-3">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-10 form-group">
                            <span class="titles">PARENT'S COMMENTS</span>
                        </div>
                        <div class="col-2 form-group">
                            <span class="titles">SIGNATURE</span>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12 form-group">
                            <label class="form-label">FIRST PERIOD</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10 form-group">
                           <input type="text" class="form-control">
                        </div>
                        <div class="col-2 form-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12 form-group">
                            <label class="form-label">SECOND PERIOD</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10 form-group">
                           <input type="text" class="form-control">
                        </div>
                        <div class="col-2 form-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12 form-group">
                            <label class="form-label">THIRD PERIOD</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10 form-group">
                           <input type="text" class="form-control">
                        </div>
                        <div class="col-2 form-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12 form-group">
                            <label class="form-label">FOURTH PERIOD</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10 form-group">
                           <input type="text" class="form-control">
                        </div>
                        <div class="col-2 form-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>